ul,li{ padding:0;margin:0;list-style:none}
a:hover{
    text-decoration: none;
}
.paddings{
    padding: 0;
}
.box{
    background:#FEFEF4
}
.top{
    background: #EDEDED;height:40px;line-height: 40px;border-bottom: 1px solid #122b40;
}
.menu ul{
    float: left;
}
.menu ul li{
    float: left;
    padding: 0 10px;
}
.menu ul li a{
    color:white;
    font-weight: bold;
    font-size: 16px;
}
.menu ul li a:hover{
    background: #b9731f;
    color:#fff;
    border-radius: 10px;
}
.rolling img{
    width: 100%;
}
.user{
    font-size:14px;
    background:#EDEDED;
    height:45px;
    line-height: 45px;
}
.info img{
    width: 30px;
    height: 30px;
}
.tabs ul li{
    float: left;
    padding: 0 5px;
    color: #98af9e;
}
.content{
    width: 100%;
    height: 500px;
    float: left;
    box-shadow: 0 0 5px 2px gray;
    display: none;
    background: white;
}
.actives{
    background: #A6B51C;
}
.card{
    margin: 0 3px;
    width:auto;
    border: 1px solid #a8c3af;
    border-radius: 5px;
    box-shadow: 0 0 3px 2px gray;
}
.card span{
    margin: 5px;
}